[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "SublimePHP"]
	path = SublimePHP
	url = git://github.com/florianeckerstorfer/sublime-php.git
[submodule "SublimePHPUnit"]
	path = SublimePHPUnit
	url = git://github.com/florianeckerstorfer/sublime-phpunit.git
[submodule "SublimeEmmet"]
	path = SublimeEmmet
	url = git://github.com/sergeche/emmet-sublime.git
[submodule "SublimeColorHighlighter"]
	path = SublimeColorHighlighter
	url = git://github.com/Monnoroch/ColorHighlighter.git
[submodule "SublimeAbacus"]
	path = SublimeAbacus
	url = git://github.com/khiltd/Abacus.git
[submodule "SublimeIncDecValue"]
	path = SublimeIncDecValue
	url = git://github.com/rmaksim/Sublime-Text-2-Inc-Dec-Value.git
[submodule "SublimePhpDoc"]
	path = SublimePhpDoc
	url = git://github.com/SublimeText/PhpDoc.git
[submodule "NettutsFetch"]
	path = NettutsFetch
	url = git://github.com/weslly/Nettuts-Fetch.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = git://github.com/weslly/ColorPicker.git
