[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "SublimePHP"]
	path = SublimePHP
	url = git://github.com/florianeckerstorfer/sublime-php.git
[submodule "SublimePHPUnit"]
	path = SublimePHPUnit
	url = git://github.com/florianeckerstorfer/sublime-phpunit.git
[submodule "SublimeEmmet"]
	path = SublimeEmmet
	url = git://github.com/sergeche/emmet-sublime.git
[submodule "SublimeColorHighlighter"]
	path = SublimeColorHighlighter
	url = git://github.com/Monnoroch/ColorHighlighter.git
[submodule "SublimeAbacus"]
	path = SublimeAbacus
	url = git://github.com/khiltd/Abacus.git
[submodule "SublimeIncDecValue"]
	path = SublimeIncDecValue
	url = git://github.com/rmaksim/Sublime-Text-2-Inc-Dec-Value.git
[submodule "SublimePhpDoc"]
	path = SublimePhpDoc
	url = git@github.com:florianeckerstorfer/PhpDoc.git
[submodule "NettutsFetch"]
	path = NettutsFetch
	url = git://github.com/weslly/Nettuts-Fetch.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = git://github.com/weslly/ColorPicker.git
[submodule "PHP Twig"]
	path = PHP Twig
	url = git://github.com/Anomareh/PHP-Twig.tmbundle.git
[submodule "LaTeXTools"]
	path = LaTeXTools
	url = git://github.com/SublimeText/LaTeXTools.git
[submodule "SublimeFilterLines"]
	path = SublimeFilterLines
	url = git@github.com:florianeckerstorfer/SublimeFilterLines.git
[submodule "CTags"]
	path = CTags
	url = git://github.com/SublimeText/CTags.git
[submodule "sublime-text-2-marked"]
	path = sublime-text-2-marked
	url = git://github.com/jocelynmallon/sublime-text-2-marked.git
[submodule "DetectSyntax"]
	path = DetectSyntax
	url = git://github.com/phillipkoebbe/DetectSyntax.git
[submodule "SublimeTableEditor"]
	path = SublimeTableEditor
	url = git@github.com:vkocubinsky/SublimeTableEditor.git
[submodule "sass-textmate-bundle"]
	path = sass-textmate-bundle
	url = git@github.com:nathos/sass-textmate-bundle.git
[submodule "sublime-phpcs"]
	path = sublime-phpcs
	url = git://github.com/benmatselby/sublime-phpcs.git
[submodule "sublime-alom"]
	path = sublime-alom
	url = https://github.com/alexandresalome/sublime-alom
[submodule "Theme - Phoenix"]
	path = Theme - Phoenix
	url = https://github.com/netatoo/phoenix-theme/
[submodule "sublime-text-2-goto-documentation"]
	path = sublime-text-2-goto-documentation
	url = git@github.com:kemayo/sublime-text-2-goto-documentation.git
[submodule "sublime-mockery"]
	path = sublime-mockery
	url = git@github.com:florianeckerstorfer/sublime-mockery.git
[submodule "DocBlockr"]
	path = DocBlockr
	url = git@github.com:spadgos/sublime-jsdocs.git
[submodule "sublime-symfony2"]
	path = sublime-symfony2
	url = git@github.com:florianeckerstorfer/sublime-symfony2.git
[submodule "SideBarEnhancements"]
	path = SideBarEnhancements
	url = https://github.com/titoBouzout/SideBarEnhancements
[submodule "LESS-sublime"]
	path = LESS-sublime
	url = git@github.com:danro/LESS-sublime.git
[submodule "Gist"]
	path = Gist
	url = git://github.com/condemil/Gist
[submodule "Enhanced-R"]
	path = Enhanced-R
	url = https://github.com/randy3k/Enhanced-R
[submodule "handcrafted-haml-textmate-bundle"]
	path = handcrafted-haml-textmate-bundle
	url = git@github.com:phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "SublimeQuickFileCreator"]
	path = SublimeQuickFileCreator
	url = http://github.com/noklesta/SublimeQuickFileCreator
