[submodule "SublimeLinter"]
	path = SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
[submodule "SublimeCodeIntel"]
	path = SublimeCodeIntel
	url = git://github.com/Kronuz/SublimeCodeIntel.git
[submodule "Theme - Soda"]
	path = Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
